<p >Dragon Ball Z</p>
<hr> 

<div class ='row'>

    <div class="col">
        <app-personajes></app-personajes>
        <!-- <h3>Personajes</h3>
        <hr>
        <ul *ngFor="let personaje of personajes ">
            <li>{{personaje.nombre}} - {{personaje.poder | number}}</li>
        </ul>  -->
    </div>

    <div class="col">
        <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
        <hr>

        <form (ngSubmit)="Agregar(  )">
            <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevo.nombre" id="">

            <input type="number" placeholder="Poder" name="poder" [(ngModel)]="nuevo.poder" id="">

            <button type="submit">
                Agregar
            </button>
        </form>
    </div>
</div>